* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(47, 47, 47);
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(249, 248, 248);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(4, 4, 4);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

#resultado {
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
}